* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/*p {font-style: italic;}*/
#pItal {font-style: italic;
}




hr {color: lightgray;
    border: 2px solid lightgray;
   }

#redrum {color: black;
    border: 1px solid black;
   }


#list li {
  float: left;
 /* width:80px;*/
}

#list li a {
  display: block;
  color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 15px Arial, sans-serif;
}

#list li a:hover {
  background-color: #cccccc;
}
.obj {font: 12px Arial;
      color: black; 
      text-align: right;
}

.card {background-color: whitesmoke;
       /*border-style: solid;*/
       border-width: 1px;
       padding-top: 20px;
       padding-right: 20px;
       padding-bottom: 20px;
       padding-left: 20px;
       box-shadow: 8px 8px 8px darkgray;
       /*cursor: pointer;*/
      }


.box {background-color: #ffffff;
       border-style: solid;
       border-width: 1px;
       padding-top: 20px;
       padding-right: 20px;
       padding-bottom: 20px;
       padding-left: 20px;
       box-shadow: 8px 8px 8px darkgray;
       /*cursor: pointer;*/
      }
/*
a.divLink {
   text-decoration: none;
   color: #000000;
   z-index: 10;
}

div.card:hover {
   cursor: hand;
   cursor: pointer;
   opacity: .8;
}

*/
    .navbar {
      overflow: hidden;
      background-color: #e6e6e6;
      position: fixed;
      top: 0;
      width: 100%;
      padding: 20px 0 0 0;
    }

    .navbar button {
      float: left;
      display: block;
      color: #000000;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size: 17px;
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .navbar button:hover {
      background: #c7c7c7;
      color: black;
    }


    .main {
      padding: 16px;
      margin-top: 30px;
      /*height: 1500px;*/
      /* Used in this example to enable scrolling */
    }
.tabcontent {
  display: none;
}
