* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/*//////////////////////////////////////////*/

    .navbar {
      overflow: hidden;
      background-color: #e6e6e6;
      position: fixed;
      top: 0;
      width: 99%;
      margin: 0px 0 0 0;
      border-radius: 5px;
    }

    .navbar button {
      float: left;
      display: block;
      color: #000000;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size: 17px;
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .navbar button:hover {
      background: #c7c7c7;
      color: black;
    }


/*//////////////////////////////////////////*/

    .navbarTop {
      overflow: hidden;
      background-color: #ffffff;
      position: fixed;
      top: 0;
      width: 95%;
      margin-right: 0px;
    }

    .navbarTop button {
      float: right;
      display: block;
      color: #000000;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size: 17px;
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .navbarTop button:hover {
      background: #c7c7c7;
      color: black;
    }

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

/*//////////////////////////////////////////*/

/*p {font-style: italic;}*/
#pItal {font-style: italic;
}




hr {color: lightgray;
    border: 2px solid lightgray;
   }
.dark {color: #6b6b6b;
    border: 2px solid #6b6b6b;
   }

#redrum {color: black;
    border: 1px solid black;
   }


#list li {
  float: left;
 /* width:80px;*/
}

#list li a {
  display: block;
  color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 15px Arial, sans-serif;
}

#list li a:hover {
  background-color: #cccccc;
}

li {
  padding: 5px 10px 5px 10px;
}
.obj {font: 12px Arial;
      color: black; 
      text-align: right;
}

.card {background-color: whitesmoke;
       border-style: solid;
       border-width: 1px;
       border-radius: 15px;
       padding-top: 20px;
       padding-right: 20px;
       padding-bottom: 20px;
       padding-left: 20px;
       box-shadow: 6px 6px 6px darkgray;
       /*cursor: pointer;*/
      }

.card:nth-child(4n+0) {
  background: white;
  box-shadow: none;
}

.box {background-color: #ffffff;
       border-style: solid;
       border-width: 1px;
       padding-top: 20px;
       padding-right: 20px;
       padding-bottom: 20px;
       padding-left: 20px;
       box-shadow: 8px 8px 8px darkgray;
       /*cursor: pointer;*/
      }
/*
a.divLink {
   text-decoration: none;
   color: #000000;
   z-index: 10;
}

div.card:hover {
   cursor: hand;
   cursor: pointer;
   opacity: .8;
}

*/

    main {
      padding: 20px 0 0 0;

    }

    .main {
      padding: 0px 0 0 0;
      margin-top: 55px;
      /*height: 1500px;*/
      /* Used in this example to enable scrolling */
    }


    .mainIndex {
      padding: 16px;
      margin-top: 75px;

    }
.spacer1 {
  padding-top: 0px;
}

.tabcontent {
  display: none;
}



/*//////////////////////////////////////////*/

iframe{
  border:none;
  width: 100%;
  height: 1000px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
